.mainblock{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    text-align: center;
    height: 500px;
    width: 400px;
    background-color:rgb(154 220 231);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}
img{
    height: 150px;
    width: 150px;
    box-shadow:0vh
    

}
