*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.productblock,cartblock{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
img{
    height: 300px;
    width: 300px;
    mix-blend-mode: darken;
}
span{
    font-size: large;
}
button{
    height: 35px;
    width: 62px;
    font-size: large;
    outline: none;
    border: none;
    background-color: gold;
}
h3{
    font-size: xx-large;
    color: white;
    text-shadow: 2px 2px 10 px black;
}