.mainroot{
    background-color:powderblue;
    padding: 10px;
}
.gt{
    background-color:blueviolet;
    padding: 10px;
}
.pt{
    background-color:darkgoldenrod;
    padding: 10px;
}
.cd{
    background-color:grey;
    padding: 10px;
}